In [9]:
import truthnet
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

In [10]:
data='/home/ishanu/Dropbox/gibbons_global/data/global2.csv'
xf=pd.read_csv(data,index_col=0,).astype(int).astype(str).replace('-9','')
xf.to_csv('tmp.csv')
alldata=pd.read_csv('tmp.csv', keep_default_na=False)#.astype(str)
alldata.drop('Dx',axis=1).to_csv('processed_data.csv',index=None)
alldata.to_csv('processed_data_dx.csv',index=None)

In [11]:
pd.read_csv('processed_data.csv')

,ID,2,3,5,6,7,8,9,10,11,...,4592,4593,4594,4596,4631,4632,4634,4635,4636,4637
0,CIM12536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CIS69110,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CIQ85803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
3,CIM76210,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
4,CIM49950,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1231,MHB77415,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
1232,KHA81506,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
1233,KHA93184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1234,MHB54874,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN
1235,KHB84319,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN

In [12]:
%%time
## load data and infer qnet
Tr=truthnet(missing_id=np.nan)
features,samples = Tr.load_data(datapath="processed_data.csv")
Tr.fit(fit=False,modelpath="globalfull.joblib")

TypeError: 'module' object is not callable

In [5]:
Tr.missing=67

In [6]:
# compute dissonance for all samples
Tr.dissonance(outfile="../data/dissonance_matrix.csv",processes=11)

The number of selected samples (1236) is equal to the number of samples (1236)!

In [7]:
Tr.getSuspects(alpha=.01,datapath='processed_data_dx.csv',append=False,
               mode='uniform',steps=67)

Empty DataFrame
Columns: [ID      , Dx, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 82, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 100, 102, 106, 108, 109, 110, 111, 112, 113, 114, 115, 116, 122, 123, 125, 134, 135, 137, 139, 140, 146, 147, 149, 150, 151, ...]
Index: []

[0 rows x 429 columns]

In [8]:
print(Tr.cithreshold)

{0.01: 0.20761316497448756}

In [9]:
# visualize
plt.figure()
plt.style.use('ggplot')
dissonance = pd.DataFrame(data=Tr.dissonance.mean(axis=1), columns=["Qnet"])
dissonance["random"] = Tr.urandom_dissonance_df.mean(axis=1)
plt.hist(dissonance["Qnet"], alpha=0.5, label="Qnet samples")
plt.hist(dissonance["random"], alpha=0.5, label="random samples")
plt.legend()
plt.axvline(Tr.cithreshold[0.01], color="yellow", linestyle="--", alpha=.8)
#plt.axvline(Tr.cithreshold[0.05], color="red", linestyle="--", alpha=.8)

AttributeError: 'function' object has no attribute 'mean'

In [ ]:
Tr.urandom_dissonance_df

In [ ]:
(alldata!='').sum(axis=1).hist()
(alldata!='').sum(axis=1).mean(),(alldata!='').sum(axis=1).median()

In [ ]:
(alldata!='').sum(axis=1).median()

In [ ]:
ocore=Tr.suspects[Tr.suspects.mdissonance>0.05]

In [ ]:
ocore.Dx.hist()

In [ ]:
tf=Tr.urandom_dissonance_df
tf

In [ ]:
def erase(row,n=20):
    def get_(i):
        if np.random.rand() > n/len(tf.columns):
            return np.nan
        return i
    
    return [get_(i) for i in row]

In [ ]:
tf.apply(erase,axis=1,result_type='broadcast')